.container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}
.title{
    text-align: center;
}
.text{
    text-align: center;
}
.more{
    display: inline-block;
  border-radius: 4px;
  background-color: #e1c699;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.more span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .more span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .more:hover span {
    padding-right: 25px;
  }
  
  .more:hover span:after {
    opacity: 1;
    right: 0;
  }